In [1]:
d={"key1":[3,4,5,6,7],
    "key2":[2,4,5,6,9],
    "key3":[3,76,8,9,6]   
}

In [ ]:

import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=['a', 'b', 'c', 'd'])

df.reindex(['b', 'c', 'd', 'a'])

In [5]:
import pandas as pd

In [2]:
d={"key1":[3,4,5,6,7],
    "key2":[2,4,5,6,9],
    "key3":[3,76,8,9,6]   
}

In [8]:
df = pd.DataFrame(d)

In [9]:
df

   key1  key2  key3
0     3     2     3
1     4     4    76
2     5     5     8
3     6     6     9
4     7     9     6